<tr>
    <div>

    <!-- Button trigger modal -->
        <td scope="row"><%= data.fullName %></td>
        <td><%= data.birthday %></td>
        <td><%= data.salary %></td>
    
    <!-- Modal -->
    </div>
</tr>
