<tr value=<%= data.id %>>
    <div>

    <!-- Button trigger modal -->
        <td scope="row"><%= data.name %></td>
        <td><%= data.stadium_team.name %></td>
    
    <!-- Modal -->
    </div>
</tr>
