.text-center {
    text-align: center;
}
h3 {
    font-family: Lato,sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
    margin-top: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#profile-wrap #editProfile .container .tab-content {
    margin-top: 20px;
}

.tab-content {
    -webkit-box-shadow: 0 1px 2px #d8d8d8;
    box-shadow: 0 1px 2px #d8d8d8;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #fff;
    padding: 15px;
}

#profile-wrap #editProfile .container .tab-content .personal-avatar h2 {
    padding-top: 10px;
    font-weight: 700;
    color: #3bbf1a;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-weight: 400;
    cursor: pointer;
}

input[type=file] {
    display: block;
}
.hidden {
    display: none!important;
}
input, input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
input {
    color: inherit;
    font: inherit;
    margin: 0;
    line-height: normal;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.428571429;
    background-color: #f8f8f8;
    border: 1px solid #ecf0f1;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

#profile-wrap #editProfile .container .tab-content .personal-avatar .avatar-position #avatar {
    width: 150px;
    height: 150px;
    border: 1px solid #3bbf1a;
}
.img-circle {
    border-radius: 50%;
}

hr, img {
    border: 0;
}
img {
    vertical-align: middle;
    max-width: 100%;
}

.form-group>label {
    text-align: right;
    margin-bottom: 0;
}

#profile-wrap #editProfile .container .tab-content .personal-info .display-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.form-group {
    margin-bottom: 15px;
}

.form-control, output {
    display: block;
    line-height: 1.428571429;
    color: #596377;
}

.tab-content .personal-info .display-align label {
    margin-top: 8px;
}