<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true" id=<%=data.id%>>
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <%-include('../form/add.ejs')%>
    </div>
</div>