<!-- Modal -->
<div class="modal fade" id="modal-update-stadium" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <%-include('../form/add.ejs')%>
    </div>
</div>