<div class="col-sm-6 mb-3 mb-sm-0 mt-3">
  <label for="fullName">Avatar</label>
  <input type="text" class="form-control form-control-user" id="avatar" name="avatar" placeholder="avatar">
</div>
<div class="col-sm-6 mb-3 mb-sm-0 mt-3">
  <label for="fullName">Họ và tên</label>
  <input type="text" class="form-control form-control-user" id="fullName" name="fullName" placeholder="Tên cầu thủ">
</div>

<div class="col-sm-6 mb-3 mb-sm-0 mt-3">
  <label for="positionCode"> Vị trí </label>
  <select name="positionCode" id="positionCode"></select>
</div>

<div class="col-sm-6 mb-3 mb-sm-0 mt-3">
  <label for="height">Chiều cao</label>
  <input type="text" class="form-control form-control-user" id="height" name="height" placeholder="chiều cao">
</div>

<div class="col-sm-6 mb-3 mb-sm-0 mt-3">
  <input type="text" class="form-control form-control-user" id="weight" name="weight" placeholder="Cân nặng">
</div>

<div class="col-sm-6 mb-3 mb-sm-0 mt-3">
  <label for="birthday" class="caption">yyyy-mm-dd</label>
  <input type="text" class="form-control form-control-user" id="birthday" name="birthday" placeholder="Ngày sinh">
</div>

<div class="col-sm-6 mb-3 mb-sm-0 mt-3">
  <input type="text" class="form-control form-control-user" id="nationality" name="nationality" placeholder="Quốc tịch">
</div>

<div class="col-sm-6 mb-3 mb-sm-0 mt-3">
  <input type="text" class="form-control form-control-user" id="salary" name="salary" placeholder="Lương">
</div>

<div class="col-sm-6 mb-3 mb-sm-0 mt-3">
  <select name="dominantFoot" id="dominantFoot">
    <option value="Trái">Trái</option>
    <option value="Phải">Phải</option>
  </select>
</div>

<div class="col-sm-6 mb-3 mb-sm-0 mt-3">
  <input type="text" class="form-control form-control-user" id="teamId" name="teamId" placeholder="team">
</div>
