<div class="modal fade" id="help-positionCode-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Position Code Help</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">CF: Tiền đạo trung phong</div>
                    <div class="row">SS: Tiền đạo hộ công</div>
                    <div class="row">LW: Tiền đạo cánh trái</div>
                    <div class="row">RW : Tiền đạo cánh phải</div>
                    <div class="row">CM : Tiền vệ trung tâm</div>
                    <div class="row">CAM : Tiền vệ tấn công</div>
                    <div class="row">CDM : Tiền vệ phòng ngự</div>
                    <div class="row">LM : Tiền vệ cánh trái</div>
                    <div class="row">RM : Tiền vệ cánh phải</div>
                    <div class="row">CB : Trung vệ</div>
                    <div class="row">LB : Hậu vệ cánh trái</div>
                    <div class="row">RB : Hậu vệ cánh phải</div>
                    <div class="row">GK : Thủ môn</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>