<div class="modal fade" id="openAccountList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Danh sách tài khoản</h5>
          <button type="button" class="close"  aria-label="Close" onclick="hideDialog()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="table playerIndex statsTable teamStatsTable">
            <table style="width:100%;">
               <thead>
                  <tr>
                     <th scope="col">STT</th>
                     <th scope="col">Username</th>
                     <th scope="col">Thao tác</th>
                  </tr>
               </thead>
               <tbody class="statsTableContainer">
                  <% accounts.forEach(function(account, index) { %>
                    <tr class="">
                      <td><%= index + 1 %></td>
                      <td></span><%= account.username %></a></td>
                      <td><span>
                        <button type="button" class="btn btn-primary btn-sm" onclick="setAccountField('<%= JSON.stringify(account) %>'); hideDialog()" >Liên kết</button>
                      </span></td>
                   </tr>
                <%  }) %>
               </tbody>
               <script type="text/javascript">
                function setAccountField(account) {
                  document.getElementById("account").value = JSON.parse(account).username;
                  document.getElementById("accountId").value = JSON.parse(account).id;
                }
              </script>
            </table>
         </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
