<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-12 col-lg-12 px-4">
      <div class="col-12">
        <h3 class="text-center">Thêm quản lý đội bóng</h3>
        <form method="POST" style="width: 100%;" action="/managers/add">
            <input id="id" name="" style="display: none;">
          <div class="row tab-content">
            <div class="flex-row" id="show-error-success"></div>
            <!-- left column -->
            <div class="col-md-4 col-sm-6 col-xs-12 personal-avatar">
              <div class="avatar-container text-center">
                <div class="avatar-position">
                  
                  <label for="UploadAvatar">
                    <img
                      class="img-circle img-thumbnail"
                      id="avatar"
                      width="150"
                      height="150"
                      src="https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-vector-avatar-icon-png-image_695765.jpg"
                      tabindex="0"
                    />
                  </label>
                  <input
                  class="form-control"
                    id="UploadAvatar"
                    name="avatar"
                    type="text"
                  />
                </div>
              </div>
              <!-- <h2 class="panel-title text-center changeEmail pointer" data-toggle="modal" data-target="#changeEmail" tabindex="0">stepupstudyenglish@gmail.com</h2> -->
            </div>
            <!-- edit form column -->
            <div class="col-md-7 col-sm-6 col-xs-12 personal-info">
              <div class="form-group display-align row">
                <label class="col-lg-2 col-md-3 col-sm-4 control-label"
                  >Họ Tên</label
                >
                <div class="col-lg-10 col-md-9 col-sm-8">
                  <input
                    class="form-control"
                    id="fullName"
                    name="fullName"
                    type="text"
                    value=""
                  />
                </div>
              </div>
              <div class="form-group display-align row">
                <label class="col-lg-2 col-md-3 col-sm-4 control-label"
                  >Ngày sinh</label
                >
                <div class="col-lg-10 col-md-9 col-sm-8">
                  <input
                    class="width200 form-control hasDatepicker"
                    id="birthday"
                    placeholder="ngày/tháng/năm"
                    name="birthday"
                    type="date"
                    value=""
                  />
                </div>
              </div>
              <div class="form-group display-align row">
                <label class="col-lg-2 col-md-3 col-sm-4 control-label"
                  >Quốc tịch</label
                >
                <div class="col-lg-10 col-md-9 col-sm-8">
                  <input
                    class="width200 form-control"
                    id="nationality"
                    name="nationality"
                    type="text"
                    value=""
                  />
                </div>
              </div>
              <div class="form-group display-align row">
                <label class="col-lg-2 col-md-3 col-sm-4 control-label"
                  >Tài khoản</label
                >
                <div class="col-lg-10 col-md-9 col-sm-8">
                    <div class="dropdown">
                                   <input id="accountId" name="accountId" style="display: none;" value="">
                                   <button style="width:100% text-left" id="account" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2 " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="">
                                     Chọn tài khoản
                                   </button>
                           <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                             <% accounts.forEach(function(account, index) { %>
                               <button class="dropdown-item" type="button"  onclick="setAccountValue('<%= JSON.stringify(account) %>')">
                                 <span class="team">
                                 <span class="teamName">
                                   <span class="shortname"><%= account.username %></span> 
                                 </span>
                               </span>
                               </button>
                               <% }); %>
                           </div>
                         </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="form-group display-align text-center mt-2">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <input
                  class="btn btn-primary save"
                  value="Lưu"
                  type="submit"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>


<%-include('./add-modal.ejs')%>

<script>
          function setAccountValue(account) {
          document.getElementById("account").innerText = JSON.parse(account).username;
          document.getElementById("accountId").value = JSON.parse(account).id;
        }
    function setTeamValue(manager) {
        document.getElementById('id').name = 'id';
        document.getElementById('id').value = JSON.parse(manager).id;
        document.getElementById('UploadAvatar').value = JSON.parse(manager).avatar == null? '' : JSON.parse(manager).avatar;
        document.getElementById('avatar').src = JSON.parse(manager).avatar == null? 'https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-vector-avatar-icon-png-image_695765.jpg' : JSON.parse(manager).avatar;
        document.getElementById('fullName').value = JSON.parse(manager).fullName;
        document.getElementById('birthday').value = JSON.parse(manager).birthday;
        document.getElementById('nationality').value = JSON.parse(manager).nationality == null? '' : JSON.parse(manager).nationality;
        document.getElementById('account').innerText = JSON.parse(manager).manager_account == null? '' : JSON.parse(manager).manager_account.username;
        document.getElementById('accountId').value = JSON.parse(manager).manager_account == null? '' : JSON.parse(manager).manager_account.id;
    }

    function setNoneTeamValue() {
        document.getElementById('id').name = '';
        document.getElementById('UploadAvatar').value = '';
        document.getElementById('avatar').src = 'https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-vector-avatar-icon-png-image_695765.jpg';
        document.getElementById('fullName').value = '';
        document.getElementById('birthday').value = '';
        document.getElementById('nationality').value = '';
        document.getElementById('account').value = '';
        document.getElementById('accountId').value = '';
    }
</script>