<form method="post" action="/coaches" id="fm-add-coach">
    <div class="from-group">
        <img src="http://rebrand.ly/spihiv9" alt="" id="avatar-coach" class="">
    </div>
    <div class="form-group">
        <label for="avatar">Link avatar (Để tạm)</label>
        <input id="avatar" class="form-control" type="text" name="avatar">
    </div>

    <div class="form-group">
        <label for="fullName">Tên</label>
        <input id="fullName" class="form-control" type="text" name="fullName" value="Cristiano Ronaldo">

    </div>

    <div class="form-group row" style="margin-right: -0.75rem; margin-left: -0.75rem;">
        <div class="col-6">

            <label for="birthday">Ngày sinh</label>
            <input id="birthday" class="form-control" type="text" name="birthday" value="10/01/1985">

        </div>
        <div class="col-6">
            <label for="nationality">Quốc tịch</label>
            <select id="nationality" class="form-control" name="nationality">
                <option>Anh</option>
                <option>Pháp</option>
                <option>Đức</option>
                <option>Bồ Đào Nha</option>
                <option>Mỹ</option>
            </select>

        </div>
    </div>
    <div class="form-group row" style="margin-right: -0.75rem; margin-left: -0.75rem;">
        <div class="col">
            <label for="salary">Lương</label>
            <input id="salary" class="form-control" type="text" name="salary" value="10000000">
        </div>
    </div>

    <button type="submit" class="btn btn-primary" style="float: right">Lưu</button>
</form>