<tr value=<%= row.id%>>
    <td class="text-center">
        01
    </td>
    <td class="text-center">
        <%= row.fullName%>
    </td>
    <td class="text-center">
        <%= row.birthday%>
    </td>
    <td class="text-center">
        <%= row.nationality%>
    </td>
    <td style="width: 7%;">
        <a href="#modal-update-coach" class="table-link" name="update-coach" aria-pressed="true" data-toggle="modal">
            <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i
                    class="fa fa-pencil fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="#coachList" name="delete-coach"
            class="table-link danger">
            <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i
                    class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </td>
</tr>