<tr value=<%= row.id%>>
    <td class="text-center">
        01
    </td>
    <td class="text-center">
        <%= row.full_name%>
    </td>
    <td class="text-center">
        <%= row.count%>
    </td>
</tr>